* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(Oat_from_Quebec-web_1500x.jpg);
  background-attachment: fixed;
  background-size: cover;
}

/* ---------header---------- */
.header-wrapper .header-1 {
  background: #ffbe9f;
  width: 100%;
  height: 50px;
}

.header-wrapper .header-1 p {
  text-align: center;
  font-weight: bold;
  padding-top: 15px;
}

/* header-2--------------- */
.header-2 {
  width: 100%;
  padding: 10px 0;
  background-color: white;
  height: auto;
  border: 1px solid white;
  color: #b82330;
}

.header-2 .menu-burger ul {
  display: flex;
  list-style: none;
  color: #b82330;
  font-weight: bold;
}
.header-2 .menu-burger ul .li-menu {
  position: relative;
  height: 100%;
  padding: 0 10px;
  transition: 1s;
}

.header-2 .menu-burger ul .li-menu:hover {
  transform: translateY(-12px);
}

.header-2 .menu-burger ul .li-menu a {
  text-decoration: none;
  color: #b82330;
}

.header-2 .menu-burger ul .li-menu .container-ul {
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 999;
  font-size: 20px;
  display: none;
}

.header-2 .menu-burger ul .li-menu:hover .container-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  padding: 25px 10px;
  height: auto;
  width: max-content;
  text-align: baseline;
}

.header-2 .menu-burger ul .li-menu .container-ul ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  margin: 5px;
  width: max-content;
  height: 100%;
}

.header-2 .menu-burger ul .li-menu .container-ul ul li {
  padding: 10px 0;
  color: grey;
  font-weight: lighter;
  width: 100%;
}
.header-2 .menu-burger ul .li-menu .container-ul ul li h3 {
  font-size: 16px;
  color: #b82330;
}

/* -------------- */

.header-2 .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.header-2 .logo img {
  padding-right: 20px;
  width: 130px;
  height: 70px;
}

.header-2 .nav-icone i {
  padding: 0 10px;
  font-size: 20px;
  color: #b82330;
}

.header-2 .menu .nav-icone select {
  border: none;
  color: #b82330;
}
/* ----------sec2---------------- */
.sec2-wrapper {
  background-color: white;
  overflow: hidden;
}
.sec2-wrapper .image-large img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  animation: bodyanimate 2s ease;
}
@keyframes bodyanimate {
  0% {
    opacity: 0;
    transform: scale(1.3);
  }
  100% {
    opacity: 1;
  }
}
.sec2-wrapper .fleche {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  margin: auto;
  position: relative;
  bottom: 20px;
  box-shadow: 10px 15px 15px rgb(128, 25, 25);
}

.sec2-wrapper .fleche i {
  text-align: center;
  font-size: 20px;
  color: #b82330;
}

/* -----------sec3----------------------------- */

.sec3-wrapper {
  padding: 60px 0;
  background-color: white;
}
.sec3-wrapper .phrase p {
  color: #b82330;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
/* ----- */

.sec3-wrapper .scroll-1 {
  max-width: 88%;
  height: 450px;
  margin: 100px auto;
  overflow: hidden;
}

.sec3-wrapper .scroll-1 .scroll {
  display: flex;
  align-items: center;
  animation: scroll-1 12s infinite ease-in-out;
}
.sec3-wrapper .scroll-1 .scroll .scrol-1 {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.sec3-wrapper .scroll-1 .scroll .scrol-1 img {
  width: 300px;
  height: auto;
  padding: 10px;
}

.sec3-wrapper .scroll-1 .scroll .scrol-1 p {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}
.sec3-wrapper .scroll-1 .scroll .scrol-1 p span {
  color: #b82330;
}

/* animations */

@keyframes scroll-1 {
  0%,
  50% {
    transform: translateX(0);
  }
  25%,
  45% {
    transform: translateX(-25%);
  }
  50%,
  70% {
    transform: translateX(-50%);
  }
  75%,
  95% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* ------- */

.sec3-wrapper .div {
  margin: auto;
  text-align: center;
  margin-top: 80px;
}

.sec3-wrapper .div button {
  height: 40px;
  width: 200px;
  border-radius: 50px;
  border: none;
  background-color: #53555a;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

/* -------------sec4--------------- */
.sec4-wrapper {
  padding: 40px 10px;
  background-color: white;
}
.sec4-flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 10px;
  justify-content: center;
  align-items: baseline;
  width: 100%;
}

.sec4-wrapper .sec4-flex .im1,
.sec4-wrapper .sec4-flex .im2,
.sec4-wrapper .sec4-flex .im3 {
  position: relative;
  /* width: 98%; */
  height: 500px;
  background-color: black;
  overflow: hidden;
}
.sec4-wrapper .sec4-flex .im1:hover img,
.sec4-wrapper .sec4-flex .im2:hover img,
.sec4-wrapper .sec4-flex .im3:hover img {
  opacity: 0.5;
  transform: scale(1.3);
}

.sec4-wrapper .sec4-flex .phrase {
  position: absolute;
  bottom: 50px;
  left: 40px;
}

.sec4-wrapper .sec4-flex img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  /* transition: 0.4s ease; */
  transition: 2s;
}

.sec4-wrapper .sec4-flex p {
  font-size: 36px;
  font-weight: bold;
  color: white;
}

.sec4-wrapper .sec4-flex button {
  height: 40px;
  width: 200px;
  border-radius: 50px;
  border: none;
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

/* ----------------sec5---------------- */

.sec5-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 100%;
  font-family: sans-serif;
}
.sec5-wrapper .container-5 .bloc {
  background-color: white;
  padding: 10px 30px 5px 30px;
  height: 300px;
  width: 100%;
  text-align: center;
  line-height: 30px;
}
.sec5-wrapper .container-5 .bloc h4 {
  margin-bottom: 20px;
  margin-top: 10px;
}
.sec5-wrapper .container-5 .bloc p {
  margin-bottom: 20px;
  margin-top: 10px;
}
.sec5-wrapper .container-5 .bloc a {
  margin-top: 10px;
  color: black;
  text-decoration: none;
}

/* --------------sec6--------------------------- */

/* ----- */
.sec6-wrapper {
  background-color: aliceblue;
  height: auto;
  padding: 15px 0;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
}

.sec6-wrapper .phrase p {
  color: #b82330;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

.sec6-wrapper .container6 {
  background-color: #f9f9fa;
  padding: 10px 0;
  margin: 20px 0;
}
.sec6-wrapper .caroussel-6 {
  max-width: 65%;
  height: 450px;
  margin: 100px auto;
  overflow: hidden;
}

.sec6-wrapper .caroussel-6 .scroll {
  display: flex;
  align-items: center;
  animation: scroll-2 12s infinite ease-in-out;
}
.sec6-wrapper .caroussel-6 .scroll .scrol-1 {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.sec6-wrapper .caroussel-6 .scroll .scrol-1 img {
  width: 300px;
  height: auto;
  padding: 10px;
}

.sec6-wrapper .caroussel-6 .scroll .scrol-1 p {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}
.sec6-wrapper .caroussel-6 .scroll .scrol-1 p span {
  color: #b82330;
}

/* animations */

@keyframes scroll-2 {
  0%,
  50% {
    transform: translateX(0);
  }
  25%,
  45% {
    transform: translateX(-70%);
  }
  50%,
  70% {
    transform: translateX(-140%);
  }
  75%,
  95% {
    transform: translateX(-170%);
  }
  100% {
    transform: translateX(0);
  }
}

/* ------- */

/* ---------------------------------sec7------------------------ */

.sec7-wrapper {
  background-image: url(banniere_bas_site_regulier2_1920x1080.jpeg);
  background-size: cover;
  padding: 50px 0;
}

.sec7-wrapper h1 {
  padding: 20px auto;
  text-align: center;
  font-size: 30px;
  color: #b82330;
}
.sec7-wrapper .container-7 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  margin: 30px 100px;
}

.sec7-wrapper .container-7 .images {
  margin: 10px auto;
  background-color: #f9f9fa;
  width: 90%;
  height: auto;
}
.sec7-wrapper .container-7 .images img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.sec7-wrapper .container-7 .images p {
  margin: 10px;
  font-size: 20px;
}
.sec7-wrapper .container-7 .images p a {
  color: #53555a;
}

.sec7-wrapper .para p {
  margin: auto;
  text-align: center;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: black;
}
.sec7-wrapper .buton {
  margin: auto;
  text-align: center;
  margin-top: 25px;
  transition: 0.4s;
}
.sec7-wrapper .buton:hover {
  transform: translateY(-20px);
  /* background-color: #b82330; */
}
.sec7-wrapper .buton button {
  height: 40px;
  width: 150px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: large;
}

/* -------------------sec8------------------- */

.sec8-wrapper {
  background-color: #f9f9fa;
  width: 100%;
  height: 100%;
}

.sec8-wrapper .All {
  display: grid;
  grid-template-columns: 50% 30%;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  margin: auto;
  height: 100%;
  width: 100%;
}
.sec8-wrapper .All .photo {
  width: 100%;
  height: auto;
  /* margin: auto; */
}
.sec8-wrapper .All .photo img {
  width: 95%;
  height: 500px;
  object-fit: cover;
}

.sec8-wrapper .All .texte {
  text-align: start;
}
.sec8-wrapper .All .texte h2 {
  color: #b82330;
  margin-bottom: 30px;
}
.sec8-wrapper .All .texte p {
  font-size: 20px;
  line-height: 25px;
  color: gray;
}

.sec8-wrapper .container-8 .liste {
  padding: 20px 0;
  text-align: center;
}
.sec8-wrapper .container-8 .liste ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec8-wrapper .container-8 .liste ul li {
  padding: 20px;
  list-style: none;
  font-size: 20px;
}
.sec8-wrapper .container-8 .liste ul li span {
  font-size: 25px;
  color: #b82330;
  font-weight: bold;
  border-bottom: 2px solid #b82330;
}
/* ----------------sec9--------------- */
.sec9-wrapper {
  background-image: url(banniere_bas_site_regulier_1500x.jpeg);
  background-size: cover;
  padding: 20px 0 100px 0;
}
.sec9-wrapper .container-9 {
  text-align: center;
}
.sec9-wrapper .container-9 h1 {
  font-size: 36px;
  color: #f9f9fa;
  margin: 20px 0 30px 0;
}

.sec9-wrapper .container-9 p {
  font-size: 20px;
  color: white;
  line-height: 30px;
  margin-bottom: 50px;
}

.sec9-wrapper .container-9 input {
  height: 50px;
  width: 30%;
}

.sec9-wrapper .container-9 button {
  height: 50px;
  width: 120px;
  margin-left: 10px;
  border-radius: 20px;
  background-color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
}

/* _____________________________________________________________________ */
/* ___________________________________Recipes_________________________ */
.recipes-1 {
  background-color: white;
  height: auto;
  padding-bottom: 100px;
  padding: 30px 50px;
}
.recipes-1 .container-1 {
  text-align: center;
  padding-top: 30px;
}

.recipes-1 .container-1 h1 {
  color: #b82330;
  margin: 20px 0;
  font-size: 30px;
}
.recipes-1 .container-1 p {
  line-height: 30px;
  margin-top: 50px;
  color: gray;
  font-size: 20px;
}
.recipes-1 .container-1 .photo-flex {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}
.recipes-1 .container-1 .photo-flex .photo {
  width: 100%;
  margin-top: 20px;
}
.recipes-1 .container-1 .photo-flex .photo img {
  width: 300px;
  height: 250px;
  object-fit: cover;
}
.recipes-1 .container-1 .photo-flex .photo button {
  width: 110px;
  height: 40px;
  margin-top: 10px;
  background-color: #53555a;
  border: none;
  color: white;
  font-size: large;
  border-radius: 10px;
}

/* _____________________________________________________________________ */
/* ___________________________________we are you_________________________ */
.we-wrapper {
  background-color: white;
}

.we-wrapper .container-1 {
  text-align: center;
  padding-top: 30px;
}

.we-wrapper .container-1 h1 {
  color: #b82330;
  font-size: 36px;
  font-weight: 100;
  margin: 20px 0 20px 0;
}

.we-wrapper .container-1 .fond {
  background-image: url(fond-we.jpeg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 40px;
}

.we-wrapper .container-1 p {
  color: #b82330;
  font-size: 28px;
}

.we-wrapper .container-1 p span {
  color: gray;
  font-size: 19px;
}

.we-wrapper .container-1 .imge {
  height: 100vh;
  width: 80%;
  margin: 10px auto 0 auto;
}

.we-wrapper .container-1 .imge img {
  height: 600px;
  width: 90%;
  object-fit: cover;
}

/* ------------sec2----------- */
.we-are-wrapper {
  background-color: white;
  padding-bottom: 20px;
}

.we-are-wrapper .container-2 {
  text-align: center;
  padding-top: 30px;
}

.we-are-wrapper .container-2 h1 {
  color: #b82330;
  font-size: 36px;
  font-weight: 100;
  margin: 20px 0 20px 0;
}
.we-are-wrapper .container-2 p {
  color: gray;
  font-size: 19px;
}

.we-are-wrapper .container-2 .photo-flex {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}
.we-are-wrapper .container-2 .photo-flex .photo {
  width: 100%;
  margin-top: 20px;
}
.we-are-wrapper .container-2 .photo-flex .photo img {
  width: 300px;
  height: 250px;
  object-fit: cover;
}

.we-are-wrapper .container-2 .photo-flex .photo h1 {
  color: grey;
}

/* ______________________________MediasQueries______________________________ */
@media screen and (max-width: 1300px) {
  /* ___________________________________ */
  /* ___________________________recipes */

  .recipes-1 .container-1 .photo-flex {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }

  /* ___________________________________ */
  /* ___________________________we are you */

  .we-are-wrapper .container-2 .photo-flex {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
}

@media screen and (max-width: 980px) {
  /* header-2---------- */
  .header-2 .logo img {
    width: 120px;
    height: 40px;
  }

  .header-2 .menu-burger ul .li-menu:hover .container-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    padding: 35px 10px;
    height: auto;
    text-align: center;
    z-index: 1;
  }
  /* sec4-------- */

  .sec4-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
  }

  .sec4-wrapper .sec4-flex .im3 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
  .sec4-wrapper .sec4-flex .im2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .sec4-wrapper .sec4-flex .im1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  /* ___________________________________ */
  /* ___________________________recipes */

  .recipes-1 .container-1 .photo-flex {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  /* ___________________________________ */
  /* ___________________________we are you */

  .we-are-wrapper .container-2 .photo-flex {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ___________________________ */

@media screen and (max-width: 768px) {
  /* .header-2-------- */

  .header-2 .nav-icone i {
    padding: 0 10px;
    font-size: 16px;
  }
  /* sec3-------- */

  /* ___________________________________ */
  /* ___________________________recipes */
  .recipes-1 {
    padding: 30px 0px;
  }

  .recipes-1 .container-1 .photo-flex {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
  }
  /* ___________________________________ */
  /* ___________________________we are you */
  .recipes-1 {
    padding: 30px 0px;
  }

  .we-are-wrapper .container-2 .photo-flex {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* _________________________________ */

@media screen and (max-width: 635px) {
  /* header-2-------------------- */
  .header-2 .menu-burger ul {
    display: block;
  }
  .header-2 .menu-burger ul li {
    padding: 0 10px;
  }
  .header-2 .nav-icone i {
    display: none;
    padding: 0 10px;
    font-size: 20px;
    color: #b82330;
  }

  /* ------sec4-------------- */
  .sec4-flex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 500px);
    padding: 0 20px;
  }

  .sec4-wrapper .sec4-flex .im1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  .sec4-wrapper .sec4-flex .im2 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
  .sec4-wrapper .sec4-flex .im3 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  /* -------------------sec7---------------- */
  .sec7-wrapper .container-7 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin: 30px auto;
  }
}

/* _____________________________ */
@media screen and (max-width: 492px) {
  /* .header-2-------- */

  .header-2 .nav-icone i {
    padding: 0 5px;
    font-size: 16px;
  }
  /* sec3-------- */
}

/* -------------foter---------- */

footer {
  /* margin-top: 50px; */
  background-color: darksalmon;
}

.ouz {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.red1 p,
.red2 {
  color: red;
}
.red2 {
  margin-top: 40px;
}
.icon1 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
